.row{
    border-radius: 10px;
    bottom: 25px;
  }
  .row .col-md-5 img{
    border-radius: 10px;
  }
  
  body.dark .absolute .mt-10 .b ul li{
    background-color: #101116;
    color: aliceblue;
    border-radius: 10px;
    margin-bottom: 8px;
    
  }
  
  /* Channel banner */
  
  .channel-banneraspel{
      flex-basis: 16vw;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.589)), url("../images/Distribuidor_Integral.png") no-repeat center 50%;
      background-size: cover;
      padding: 6.6rem;
  }
  
  .channel-banneraspel .textaspel h2{
      
          color: aliceblue;
          position: absolute;
          left: 0;
          margin-left: 840px;
          margin-top: -15px;
  }
  
  
  
  @media screen and (max-width: 478px){
      .channel-banneraspel {
          flex-basis: 16vw;
          display: flex;
          justify-content: flex-end;
          align-items: flex-end;
          background: linear-gradient(rgba(0, 0, 0, 0.603), rgba(0, 0, 0, 0.5)), url("../images/Distribuidor_Integral.png") no-repeat center 49%;
          background-size: cover;
          padding: 1.9rem;
      }
      .channel-banneraspel .textaspel h2{
          font-size: 11px;
          color: aliceblue;
          position: absolute;
          left: 0;
          margin-left: 170px;
          margin-top: -5px;
      }
      
      
  }
  
  