.section{
    background-color: #f8f8f8e1;
    padding: 18px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.absolute-flex{
   margin-top: 95px;
}

.carousel-inne{
    margin: 20px;
    
}
.carousel-item img{
  padding: 10px;
}


/*formulario*/
.for{
  width: 500px;
  margin-top: 4px;
}

.btn{
  
  width: 300px;
  
}

 /* Laptops*/
 @media screen and (max-width: 1500px) {

 }

  /* tablets y movil*/
 @media screen and (max-width: 1097px) {
  
 }
body.dark .section{
    color: #fff;
    background-color: #101116;
  }