:root {
    --cover-timing: 0.5s; 
    --cover-ease: cubic-bezier(0.66, 0.08, 0.19, 0.97);
    --cover-stagger: 0.15s;
    
    --text-timing: .75s;
    --text-stagger: 0.015s;
    --text-ease: cubic-bezier(0.38, 0.26, 0.05, 1.07);
    
    --title-stagger: 0.05s;
    --highlight: white;
  }
  
  
  .card {
    
    position: relative;
    overflow: hidden;
    aspect-ratio: 13/10;
   
    
    
    border-radius: 7px;
    box-shadow:
      rgba(255,255,255,0.3) 0 5vw 6vw -8vw,
      rgba(255,255,255,0) 0 4.5vw 5vw -6vw,
      rgba(50, 50, 80, 0.5) 0px 4vw 8vw -2vw, 
      rgba(0, 0, 0, 0.8) 0px 4vw 5vw -3vw;
    
    transition: box-shadow 1s var(--cover-ease);
    
    & > * {
      z-index: 2;
    }
    
    & > img {
      z-index: 0;
      transition: all .8s cubic-bezier(0.66, 0.08, 0.19, 0.97);;
    }
    
    &::before,
    &::after {
      content: "";
      width: 100%;
      height: 50%;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.753);
      position: absolute;
      transform-origin: left;
      transform: scaleX(0);
      transition: all var(--cover-timing) var(--cover-ease);
      z-index: 1;
    }
    
    &::after {
      transition-delay: var(--cover-stagger);
      top: 50%;
    }
    
    &:hover,
    &:focus {
    
      box-shadow: 
        white 0 5vw 6vw -9vw,
        var(--highlight) 0 5.5vw 5vw -7.5vw,
        rgba(50, 50, 80, 0.5) 0px 4vw 8vw -2vw, 
        rgba(0, 0, 0, 0.8) 0px 4vw 5vw -3vw;
     
      &::before,
      &::after {
        transform: scaleX(1);
      }
  
      & .loremtitulo .char,
      & a .lorem .word {
        opacity: 1;
        transform: translateY(0);
        color: inherit;
      }
  
      & .loremtitulo .char {
        transition-delay: calc(0.1s + var(--char-index) * var(--title-stagger));
      }
      
      & .lorem .word {
        transition-delay: calc(0.1s + var(--word-index) * var(--text-stagger));
      }
      
      & .imagen {
        transform: scale(1.1);
      }
      
    }
    
    &:nth-of-type(1) {
      --highlight: rgb(80, 191, 255);
    }
    
    &:nth-of-type(2) {
      --highlight:  rgb(80, 191, 255);
    }
    &:nth-of-type(3) {
        --highlight: rgb(80, 191, 255);
      }
      &:nth-of-type(4) {
        --highlight:  rgb(80, 191, 255);
      }
      &:nth-of-type(5) {
        --highlight: rgb(80, 191, 255);
      }
  }
  
  .text {
    position: absolute;
    inset: 20px;
    top: auto;
  }
  
  .loremtitulo {
    font-size: 10px;
    font-size: clamp(15px, 8vw, 30px);
    font-weight: 800;
    margin-bottom: 0.2em;
  }
  a{
    color: white;
    text-decoration: none;
    &:hover{
        color: white;
        text-decoration: none;
    }
  }
  .lorem {
    font-size: 12px;
    font-size: clamp(10px, 1.25vw, 14px);
    line-height: 1.4;
    text-align: justify;
    margin-top: 0.2em;
    margin-bottom: 0;
       
  }
  
  @media screen and (max-width: 478px){
   .lorem { font-size: 10px;
        }
        .loremtitulo{
            font-size: 11px;
             font-size: clamp(19px, 4vw, 19px);
             font-weight: 300;
        }
}
  .loremtitulo .char, 
  .lorem .word {
    color: var(--highlight);
    display: inline-block;
    opacity: 0;
    position: relative;
    transform: translateY(20px);
    transition-property: transform, opacity, color; 
    transition-timing-function: var(--text-ease);
    transition-duration: var(--text-timing), var(--text-timing), calc(var(--text-timing)*2);
  }
  
  .card .imagen {
    position: relative;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 7px;
  }
  
  
  
  
  
  
  
  // layout stuff
  
  main {
   
    
    grid-template-rows: 60px;
    grid-gap: 1em;
    
    @media screen and (min-width: 600px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: min-content 1fr;
      
    }
    
  }
  
  .nube{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
  }

  .tarjetas{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1em;
    
  }
  @media screen and (max-width: 470px) {
    .tarjetas{
        grid-template-columns: 1fr;
      grid-template-rows: min-content 1fr;
      
    }
    .nube{
        
        grid-template-columns: 1fr;
        grid-template-rows: min-content 1fr;
      }
    .card {
    
        width: 20vw;
        max-width: 150px;
        
        @media screen and (min-width: 600px) {
          width: 40vw;
        }
        
      }
    .card .imagen {
        position: relative;
        inset: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 7px;
      }
  }
  .card {
    
    width: 50vw;
    max-width: 250px;
    
    @media screen and (min-width: 600px) {
      width: 40vw;
    }
    
  }
  
  h1 {
    color: #5b6377;
    font-weight: 100;
    
    @media screen and (min-width: 600px) {
      grid-column: 1/3;
    }
    
  }
  
  .contable, main {
    color: white;
    display: grid;
    place-items: center;
   
    font-family: "Open Sans", sans-serif;
    
}


